# Import Libraries

In [1]:
import pandas as pd

# Upload Dataset

In [2]:
df = pd.read_csv('Titanic-Dataset.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Pandas Profiling

### I have already installed pandas profiling in anaconda prompt using pip install ydata-profiling (Python 3.11 package). Pandas profiling mostly works with python 3.11 package. Below code explains the how the Exploratory daya analysis is performed using pandas profiling. We will get a detailed report which is exported in our home page name "report.html". Both univariate and Bivariate analysis is obtaned through this report.

In [4]:
from ydata_profiling import ProfileReport

C:\Users\91887\anaconda3\envs\profiling_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
df = pd.read_csv("Titanic-Dataset.csv")
profile = ProfileReport(df, explorative=True)
profile.to_file("report.html")

Summarize dataset:  47%|████████████████▍                  | 8/17 [00:00<00:00, 23.29it/s, Describe variable: Embarked]
100%|█████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 124.52it/s]
Summarize dataset: 100%|████████████████████████████████████████████████████| 47/47 [00:05<00:00,  8.41it/s, Completed]
Generate report structure: 100%|█████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.89s/it]
Render HTML: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.35s/it]
Export report to file: 100%|█████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 97.59it/s]